* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  width: 100%;
  height: auto;
}
body .mobile__nav {
  width: 100%;
  position: fixed;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  z-index: 1;
  padding: 30px 15px;
  transform: translateY(-100%);
  transition: transform 500ms ease-in;
}
body .mobile__nav .mobile_nav_header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}
body .mobile__nav .mobile_nav_header .mobile__nav__close__btn span {
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}
body .mobile__nav nav {
  margin-top: 50px;
  width: 100%;
}
body .mobile__nav nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
body .mobile__nav nav ul li {
  list-style: none;
  height: 45px;
}
body .mobile__nav nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .mobile__nav nav ul li:hover {
  background: black;
}
body .mobile__nav nav ul li:hover a {
  color: white;
}
body .mobile__nav.is_visible {
  transform: translateY(0);
}
body header {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
body header .header-logo h4 {
  font-size: 20px;
}
body header nav ul {
  display: inline-flex;
  column-gap: 30px;
  align-items: center;
}
body header nav ul li {
  list-style: none;
}
body header nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}
body header .mobile__nav__open__btn {
  display: none;
}
body header .mobile__nav__open__btn span {
  font-size: 23px;
  line-height: 30px;
  cursor: pointer;
}
body main {
  width: 100%;
  padding: 25px;
}
body main .home-section {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
}
body main .home-section .h-s-inner__1,
body main .home-section .h-s-inner__3 {
  width: 70%;
  padding: 0px 40% 0px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
body main .home-section .h-s-inner__1 h6 {
  font-size: 10px;
  font-weight: 500;
  color: #2d9cdb;
}
body main .home-section .h-s-inner__1 h1 {
  margin-top: -10px;
  font-weight: 500;
  color: #333333;
}
body main .home-section .h-s-inner__2 {
  width: 100%;
}
body main .home-section .h-s-inner__2 img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
body main .home-section .h-s-inner__3 h1 {
  font-weight: 500;
  color: #333333;
}
body main .home-section .h-s-inner__3 p {
  font-size: 10px;
  font-weight: 500;
  color: #4f4f4f;
}
body main .home-section .h-s-inner__3 .inner-join {
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .home-section .h-s-inner__3 .inner-join span {
  font-size: 9px;
  font-weight: 500;
  color: #828282;
}
body main .home-section .h-s-inner__3 .inner-join input {
  width: 100%;
  height: 35px;
  outline: none;
  border: 0;
  background: #f2f2f2;
  border-radius: 8px;
  padding: 5px 65px 5px 15px;
}
body main .home-section .h-s-inner__3 .inner-join button {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: #2d9cdb;
  color: white;
  font-size: 10px;
  width: 55px;
  height: 31px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}



/* button effect*/

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  /* position: relative; */
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}







/* end button effect */






body main .service-section {
  width: 80%;
  margin: 80px auto 0px;
}
body main .service-section h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
body main .service-section .inner-group {
  margin-top: 30px;
  display: flex;
  justify-content: cener;
  align-items: center;
  column-gap: 40px;
}
body main .service-section .inner-group .card {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  cursor: pointer;
  transition: box-shadow 300ms linear;
}
body main .service-section .inner-group .card .card-image span {
  width: 35px;
  height: 35px;
  background: #2d9cdb;
  display: grid;
  place-items: center;
  border-radius: 8px;
  color: white;
}
body main .service-section .inner-group .card .card-title h3 {
  font-size: 14px;
}
body main .service-section .inner-group .card .card-content p {
  font-size: 10px;
  font-weight: 500;
  color: #4f4f4f;
}
body main .service-section .inner-group .card .card-button button {
  background: #e0e0e0;
  color: #828282;
  font-size: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 10px;
  transition: background 300ms linear, color 300ms linear;
}
body main .service-section .inner-group .card:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}
body main .service-section .inner-group .card:hover .card-button button {
  background: #2d9cdb;
  color: #fff;
}

body main .service-section .inner-group .card:nth-child(1) .card-image span 
{
  background-color: #2d9cdb;
}
body main .service-section .inner-group .card:nth-child(2) .card-image span {
  background: #27ae60;
}
body main .service-section .inner-group .card:nth-child(3) .card-image span {
  background: #eb5757;
}
body main .work-section {
  width: 80%;
  margin: 80px auto 0px;
}
body main .work-section h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
body main .work-section .inner-group {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 80px;
}
body main .work-section .inner-group figure {
  width: 100%;
  position: relative;
}
body main .work-section .inner-group figure img {
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
}
body main .work-section .inner-group figure figcaption {
  font-size: 9px;
  font-weight: 400;
  color: #4f4f4f;
}
body main .work-section .inner-group figure h3 {
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}
body main .work-section .inner-group figure:first-of-type {
  margin-top: 100px;
}
body main .work-section .inner-group figure:last-of-type {
  margin-top: -100px;
}
body main .work-section .inner-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body main .work-section .inner-button a {
  text-decoration: none;
  color: #2d9cdb;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .work-section .inner-button a span {
  font-size: 16px;
}
body main .client-section {
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
body main .client-section .inner__1 {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 100px;
}
body main .client-section .inner__1 .inner-group__1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
body main .client-section .inner__1 .inner-group__1 span {
  color: #eb5757;
  font-size: 12px;
  font-weight: 500;
}
body main .client-section .inner__1 .inner-group__1 h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
body main .client-section .inner__1 .inner-group__1 p {
  font-size: 10px;
  font-weight: 500;
  color: #4f4f4f;
}
body main .client-section .inner__1 .inner-group__2 {
  width: calc(70% - 100px);
  display: flex;
  column-gap: 20px;
}
body main .client-section .inner__1 .inner-group__2 > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
body main .client-section .inner__1 .inner-group__2 > div img {
  width: 100%;
  border-radius: 10px;
}
body main .client-section .inner__2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
body main .client-section .inner__2 h1 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}
body main .client-section .inner__2 .inner-group {
  display: flex;
  column-gap: 20px;
}
body main .client-section .inner__2 .inner-group .inner-image {
  width: 50px;
  display: grid;
  place-items: center;
}
body main .client-section .inner__2 .inner-group .inner-image img {
  width: 100%;
  border-radius: 6px;
}
body main .client-section .inner__2 .inner-group .inner-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .client-section .inner__2 .inner-group .inner-details h4 {
  font-size: 12px;
  font-weight: 500;
}
body main .client-section .inner__2 .inner-group .inner-details p {
  font-size: 10px;
  font-weight: 500;
  color: #4f4f4f;
}
body footer {
  width: 100%;
  background: #100e1d;
  color: #f2f2f2;
}
body footer .footer-header {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}
body footer .footer-header > div {
  width: 25%;
}
body footer .footer-header .footer-nav ul {
  display: flex;
  flex-direction: column;
}
body footer .footer-header .footer-nav ul li {
  list-style: none;
}
body footer .footer-header .footer-nav ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #f2f2f2;
  font-weight: 300;
}
body footer .footer-header .footer-social .footer-logo h4 {
  font-size: 20px;
  font-weight: 500;
}
body footer .footer-header .footer-social ul {
  margin-top: 5px;
  display: flex;
  column-gap: 5px;
}
body footer .footer-header .footer-social ul li {
  list-style: none;
}
body footer .footer-header .footer-social ul li a {
  text-decoration: none;
}
body footer .footer-header .footer-social ul li a img {
  width: 90%;
}
body footer .footer-header .footer-join {
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body footer .footer-header .footer-join span {
  font-size: 9px;
  font-weight: 500;
  color: #f2f2f2;
}
body footer .footer-header .footer-join input {
  width: 100%;
  height: 35px;
  outline: none;
  border: 0;
  background: #f2f2f2;
  border-radius: 8px;
  padding: 5px 65px 5px 15px;
}
body footer .footer-header .footer-join button {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: #2d9cdb;
  color: white;
  font-size: 10px;
  width: 55px;
  height: 31px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
body footer .footer-body {
  height: 50px;
  color: #bdbdbd;
  display: grid;
  place-items: center;
  font-size: 12px;
}
body footer .footer-body a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1024px) {
  body main .home-section .h-s-inner__1,
body main .home-section .h-s-inner__3 {
    width: 80%;
    padding: 0px 40% 0px 0px;
  }
}
@media screen and (max-width: 768px) {
  body header {
    padding: 30px 15px;
  }
  body header nav {
    display: none;
  }
  body header .mobile__nav__open__btn {
    display: block;
  }
  body main {
    padding: 10px;
  }
  body main .home-section .h-s-inner__1,
body main .home-section .h-s-inner__3 {
    width: 80%;
    padding: 0px 0px 0px 0px;
  }
  body main .service-section {
    width: 100%;
  }
  body main .service-section h1 {
    margin-left: 25px;
  }
  body main .service-section .inner-group {
    flex-direction: column;
    row-gap: 40px;
  }
  body main .work-section {
    width: 100%;
  }
  body main .work-section h1 {
    margin-left: 25px;
  }
  body main .work-section .inner-group {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  body main .work-section .inner-group figure:first-of-type,
body main .work-section .inner-group figure:last-of-type {
    margin-top: 0px;
  }
  body main .client-section {
    width: 100%;
    row-gap: 65px;
    margin-bottom: 45px;
  }
  body main .client-section .inner__1 {
    flex-direction: column;
    row-gap: 30px;
  }
  body main .client-section .inner__1 .inner-group__1,
body main .client-section .inner__1 .inner-group__2 {
    width: 100%;
  }
  body footer .footer-header {
    padding: 25px 25px 50px 25px;
    flex-direction: column;
    row-gap: 25px;
  }
  body footer .footer-header > div {
    width: 100%;
  }
}


/* join button effect */

.btn {		
	/* padding: 1.0rem 2.0rem;
	padding-right: 1.0rem; */
	/* font-size: 1.4rem; */
	/* color: var(--inv); */
	/* letter-spacing: 0.4rem; */
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	/* cursor: pointer; */
	user-select: none;
    text-align: center;



    position: absolute;
    bottom: 2px;
    right: 2px;
    background: #2d9cdb;
    color: white;
    font-size: 10px;
    width: 80px;
    height: 31px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}


.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}


/* From Right */

.from-right:before, 
.from-right:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-right:before {
	left: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-right:after {
	right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
	width: 100%;
}